@page
@model HostEndOfRoundModel
<body>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-9">
          <h1 id="questionTitle">
               @ViewData["question"]:
          </h1>
        </div>
        <div class="col-md-3">
          <div id="buttonDiv">
            <form method="post">
            <button id="nextQuestion">Next Question!</button>
            </form>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <p id="answerOne">@ViewData["answerOne"]:</p>
        </div>
        <div class="col-md-3">
          <p id="answerOneCounterP"><span id="answerOneFinalCounter">@ViewData["answerOneCounters"]</span></p>
        </div>
        <div class="col-md-3">
          <p id="answerTwo">@ViewData["answerTwo"]:</p>
        </div>
        <div class="col-md-3">
          <p id="answerTwoCounterP"><span id="answerTwoFinalCounter">@ViewData["answerTwoCounters"]</span></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <canvas id="bar-chart-horizontal">
				</div>
			</div>
		</div>
		<div class="col-md-3">
      <h3 id="bandg">Couple Votes!</h3>      
      <div class="row">
       <div class="col-md-6">
      <h4 id="groom">@ViewData["groom"]</h4>
      <h5 id="groomVote"><label class="resultcard-cc @ViewData["groomAnswer"]" for="@ViewData["groomAnswer"]2"></label></h5>
      </div>
      <div class="col-md-6">
      <h4 id="bride">@ViewData["bride"]</h4>
      <h5 id="brideVote"><label class="resultcard-cc @ViewData["brideAnswer"]" for="@ViewData["brideAnswer"]2"></label></h5>
      </div>
      </div>
      <h3 id="bandg">Here's how the couple voted...</h3>
      <h4 id="rightorwrong">@ViewData["audience"]</h4>
	</div>
</div>
</body>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script src="~/js/Host/endOfRoundInterface.js"></script>
<link rel="stylesheet" type="text/css" href="~/css/icons.css">
