@page
@model HostResultsModel
<body>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-9">
         <h1 id="questionTitle">
               @ViewData["question"]:
          </h1>
        </div>

        <div class="col-md-3">
         <form method="post">
          <div id="buttonDiv">
            
            <button type="submit" id="addDiv">View Results!</button>
          </div>
       
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <p id="answerOne"></p>
        </div>
        <div class="col-md-3">
          <p id="answerOneCounterP"><span id="answerOneCounter">@ViewData["answerOneCounter"]</span></p>

        </div>
        <div class="col-md-3">
          <p id="answerTwo"></p>
        </div>
        <div class="col-md-3">
          <p id="answerTwoCounterP"><span id="answerTwoCounter">@ViewData["answerOneCounter"]</span></p>
        </div>
      </div>
          <input type="hidden" name="answerOneFormCounter" id="answerOneFormCounter" value="@ViewData["answerOneCounter"]" readonly></input>
          <input type="hidden" name="answerTwoFormCounter" id="answerTwoFormCounter" value="@ViewData["answerTwoCounter"]" readonly></input>
              </form>
      <div class="row">
        <div class="col-md-12">
          <canvas id="bar-chart-horizontal">
				</div>
			</div>
		</div>
		<div class="col-md-3">
      <h3 id="usersJoined">User Votes:</h3>
      <ul id="messagesList">
      </ul>
		</div>
	</div>
</div>
</body>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script src="~/js/Host/resultsInterface.js"></script>
<link rel="stylesheet" type="text/css" href="~/css/icons.css">